@import 'styles/shared';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0 10px 10px -5px $backgroundColor;
}
