@import 'styles/shared';

.filter {
  &__label {
    display: block;
    margin-bottom: 10px;
  }
  &__input {
    margin-bottom: 20px;
    padding: 0 5px;
    outline: none;

    &:focus {
      border-color: $button-primary;
    }
  }
}
