.IconButton {
  margin: 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5%;
  color: wheat;
  font: inherit;
  background-color: wheat;
  cursor: pointer;
  background-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color wheat;

  &:hover,
  :focus {
    background-color: wheat;
    fill: wheat;
  }
}
