@import 'styles/shared';

.IconButton {
  margin: 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5%;
  color: $black;
  font: inherit;
  background-color: $white;
  cursor: pointer;
  background-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color $timing-delay;

  &:hover,
  :focus {
    background-color: $hoverPrimary;
    fill: $white;
  }
}
