@import 'styles/shared';

.UserMenu {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;

  &__item {
    padding: 12px;
    font-weight: 700;
  }

  &__name {
    font-style: italic;
    color: $hoverPrimary;
  }

  &__btn {
    display: 'inline-block';
    padding: 12px;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color $timing-delay;

    &:hover,
    &:focus {
      color: $hoverPrimary;
    }
  }
}
